.bg-dark{
    background: rgba(0, 0, 0, 0.6) !important;
}

.float {
    font-size: 300%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
}

.card-img{
    border: 3px solid ; /* Applied Cassandra's card/ from .personImg */
    border-image: linear-gradient(to left, #14A098, #CB2D6F) 1; /* Applied Cassandra's card/ from .personImg */
    height: 750px;  /* HP added height to match game 1 img w/ others */
}

h5 {
    color: white;
}

/* h1 {
    font-weight: 800;
} */

body {
    background: #0F292F;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.dfooter {
    text-align: center;
    color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(#0F292F,#501F3A,#CB2D6F);  
}

.navbar {
    background-image: linear-gradient(#501F3A,#CB2D6F,#501F3A,#0F292F);
    height: 10rem;
}

.offcanvas-body {
    background-image: linear-gradient(#CB2D6F,#501F3A,#0F292F);
}

.container-report{
    margin-top: 95%;
}