body {
    background-color: #0f292f;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.game-image{
    max-width: 70%; /* Added to make sure each game image will have the same width */
    margin-bottom: 2%; /* This margin provides space between the image and the game description when the viewport is switched to mobile*/
    border: 3px solid ; /* Applied Cassandra's card/ from .personImg */
    border-image: linear-gradient(to left, #14A098, #CB2D6F) 1; /* Applied Cassandra's card/ from .personImg */
    padding: 0; /* Added to remove the padding showing in left & right side */
}

.back-button{
    margin-left: 2%;
    margin-bottom: 5%;
}

.offcanvas-body{
    background-image: linear-gradient(180deg, #cb2d6f,#501f3a, #0f2920);}

.navbar{
    background-image: linear-gradient(#501F3A,#CB2D6F,#501F3A,#0F292F);
    height: 10rem;
}

.container-report{
    margin-top: 50%;
}

.card {
    background-image: linear-gradient(180deg, #cb2d6f,#501f3a, #0f2920);
    border-radius: 10%;
}

.card-captions{
    margin-top: 3%;
    color:white
}

.dfooter {
    text-align: center;
    color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(#0F292F,#501F3A,#CB2D6F);
}

hr{
    color: white;
}

.support{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem; 
}