/* Color Pallette

#501F3A - dark burgandy wine color
#CB2D6F - pinkish red 
#CCCCCC - light grey
#14A098 - teal
#0F292F - dark blue

*/

body {
    background-color: #0F292F;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.main {
    min-height: 100vh;
}

.dfooter {
    text-align: center;
    color: white;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(#0F292F,#501F3A,#CB2D6F);  
}

.card {
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.card img {
    border: 3px solid ; /* Applied Cassandra's card/ from .personImg */
    border-image: linear-gradient(to left, #14A098, #CB2D6F) 1; /* Applied Cassandra's card/ from .personImg */
    height: 750px;  /* HP added height to match game 1 img w/ others */
}

.card-text {
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.navbar {
    padding: 30px;
    margin: 0;
    background-image: linear-gradient(#501F3A,#CB2D6F,#501F3A,#0F292F); /*changed by HP */
    height: 10rem; /*added by HP*/
}

.offcanvas-body {
    background-image: linear-gradient(#CB2D6F,#501F3A,#0F232F);
}

/* HP Changed the carousel styles*/

.carousel{
    margin-top: 3%;
    margin-bottom: 7%;
}

.carousel-img{
    margin-left:10%;
    height: 950px;
    width: 80%;
}

@media only screen and (max-width: 768px) {
    .carousel-img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}

.container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    max-width: 680px;
  }

/* .container-report{ TBD
    margin-top: 50%;
} */

p {
    color: #CCCCCC;
    align-items: center;
}

h2 {
    color: #CCCCCC;
}