body {
    background-color: #0f2920;
    font-family: 'Kdam Thmor Pro', sans-serif;;
}

navbar-brand{
    font-size:xx-large larger;
}

.card{
    margin-top: 10%;
}

.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.offcanvas-body{
    background-image: linear-gradient(180deg, #cb2d6f,#501f3a, #0f2920);}

.navbar{
    background-image: linear-gradient(180deg, #0f292f, #cb2d6f,#0f2920,#501f3a);
}

.container-report{
    margin-top: 95%;
}

.card {
    background-image: linear-gradient(180deg, #cb2d6f,#501f3a, #0f2920);
    border-radius: 10%;
}

.card-captions{
    margin-top: 3%;
    color:white
}
.dfooter{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;  
}

hr{
    color: white;
}

.support{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem; 
}